

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a em strong {
    color: #FB4F14;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#002244 0,#222 100%);
    background-image: linear-gradient(to bottom,#002244 0,#222 100%);
    background-repeat: repeat-x;
}

h2.vs {
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.no-pad {
    padding: 0;
}

.game-info-small {
    display: none;
    font-style: italic;
}

.away {
    text-align: right;
}

.home {
    text-align: left;
}

.time-active {
    color: grey;
}

.clone {
    display: none;
}

.spinner {
    display: block;
    margin: 0 auto;
    /*margin-top: 30px;*/
}

#filter {
    text-align: center;
    margin: 0 auto 30px;
}

/*TEAM BGS*/
.bg-DUPioneers {
    background-image: url(../img/DU_Pioneers.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bg-DenverBroncos {
    background-image: url(../img/Denver_Broncos.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bg-DenverNuggets {
    background-image: url(../img/Denver_Nuggets.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bg-CUBuffs {
    background-image: url(../img/CU_Buffs.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bg-ColoradoAvalanche {
    background-image: url(../img/Colorado_Avalanche.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

.bg-ColoradoRapids {
    background-image: url(../img/Colorado_Rapids.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300px;
}

/*END TEAM BGS*/

h1.theJumboh {
    /*color: transparent;*/
    font-weight: 100;
}

.badge {
    font-weight: normal;
}

h4.sport {
    font-style: italic;
    color: #002244;
}

.btn-default .badge {
    background-color: #FB4F14;
}

.wthr-row {
    display: none;
    position: absolute;
    width: 50px;
    right: 0;
    margin-top: -9px;
    z-index: 99;
}

.city-temp {
    font-size: 10px;
    display: block;
    margin-top: -10px;
}

.venue {
    font-size: 25px;
    font-weight: 100;
}

.home-city {
    font-size: 12px;
    font-weight: 100;
}

.venue-time-specs {
    border-left: 1px dotted #e3e3e3;
    border-right: 1px dotted #e3e3e3;
    border-top: 1px dotted #e3e3e3;
    background-color: #FDFDFD;
    border-radius: 3px 3px 0 0;
}

.home-away-row {
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 15px;
    left: 5px;
    margin-top: -4px;
}

.home-icon-color {
    color: #FB4F14;
}

@media (max-width: 767px) {
    .game-info-big {
        display: none;
    }

    .game-info-small {
        display: inline;
    }
    .away {
        text-align: center;
    }

    .home {
        text-align: center;
    }

}

.vs-row {
    text-align: center;
}

@media (max-width: 575px) {
    .bg-DUPioneers {
        background-image: none;
    }

    .bg-DenverBroncos {
        background-image: none;
    }

    .bg-DenverNuggets {
        background-image: none;
    }

    .bg-CUBuffs {
        background-image: none;
    }

    .bg-ColoradoAvalanche {
        background-image: none;
    }

    .bg-ColoradoRapids {
        background-image: none;
    }
}
