

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a em strong {
    color: #FB4F14;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#002244 0,#222 100%);
    background-image: linear-gradient(to bottom,#002244 0,#222 100%);
    background-repeat: repeat-x;
}

.txtCenter {
    text-align: center;
}

.vs {
    font-style: italic;
}

.game-info-small {
    display: none;
    font-style: italic;
}

.away {
    text-align: right;
}

.home {
    text-align: left;
}

.time-active {
    color: grey;
}

.clone {
    display: none;
}

.spinner {
    display: block;
    margin: 0 auto;
    /*margin-top: 30px;*/
}

#filter {
    text-align: center;
    margin: 0 auto 30px;
}

.jumbotron {
    /*background-image: url(../img/IMG_6080.JPG);*/
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.theJumboh {
    /*color: transparent;*/
}

.match-up {
    /*border: 1px solid black;*/
}

.badge {
    font-weight: normal;
}

@media (max-width: 1199px) {
    .game-info-big {
        display: none;
    }

    .game-info-small {
        display: inline;
    }
    .away {
        text-align: center;
    }

    .home {
        text-align: center;
    }

}
